<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="artifactimage">
	<sql id = "getArtifactImageCondition">
		from image_inf i 
		<if test="searchDto.tagId != null">
			left outer join artifact_image a on i.id = a.imageId and a.imageFrom = 2 
			and a.objectId = #{searchDto.tagId}
		</if>
		<if test="searchDto.tagName != null and searchDto.tagName != ''">
			left outer join artifact_image aa on i.id = aa.imageId and aa.imageFrom = 2 
			inner join tag t on t.id = aa.objectId and t.name like '%${searchDto.tagName}%'
		</if>
		where i.status != 1 and i.tagImage = 1
	</sql>
	
	<select id="getTagImageTotalNum" parameterType="Map" resultType="Long">
		select count(distinct i.id)
		<include refid="getArtifactImageCondition" />
	</select>

	<select id="getTagImage" parameterType="Map" resultType="ArtifactImageDTO" >
		select distinct i.*
		<include refid="getArtifactImageCondition" />
		limit ${(pageInfo.pageNum - 1) * pageInfo.numPerPage}, ${pageInfo.numPerPage}
	</select>
	
	<select id="getTagNameListByImageId" parameterType="Long" resultType="String" >
		select t.name from image_inf i 
		inner join artifact_image a on i.id = a.imageId and i.tagImage = 1 and a.imageFrom = 2 
		inner join tag t on t.id = a.objectId and t.status != 2 
		where i.id = #{imageId}
		order by t.tagOrder 
	</select>
	
	<select id="getTagByImageId" parameterType="Long" resultType="TagDTO" >
		select t.* from image_inf i 
		inner join artifact_image a on i.id = a.imageId and i.tagImage = 1 and a.imageFrom = 2 
		inner join tag t on t.id = a.objectId and t.status != 2 
		where i.id = #{imageId}
		order by t.tagOrder 
	</select>
	
	<delete id="deleteByImageId" parameterType="Map">
		delete from artifact_image where imageId = #{imageId} and imageFrom = #{imageFrom}
  	</delete>

	<insert id="insert" parameterType="Map">
		INSERT INTO artifact_image(objectId, imageId, imageFrom, imageStyle)
		Value (#{objectId}, #{imageId}, #{imageFrom}, #{imageStyle})
  	</insert>
</mapper>