<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="artifactcategory">
	<insert id="insert" parameterType="Map">
		INSERT INTO artifact_category(artifactId, categoryId, artifactCategoryOrder)
		VALUE (#{artifactId}, #{categoryId}, #{artifactCategoryOrder})
  	</insert>
  	  	
  	<delete id="delete" parameterType="Map">
		delete from artifact_category
		where categoryId = #{categoryId} and artifactId in (${artifactIds})
	</delete>
</mapper>