<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="artifacttag">
	<insert id="insert" parameterType="Map">
		INSERT INTO artifact_tag(artifactId, tagId, artifactTagOrder)
		VALUE (#{artifactId}, #{tagId}, #{artifactTagOrder})
  	</insert>
  	  	
  	<delete id="delete" parameterType="Map">
		delete from artifact_tag
		where tagId = #{tagId} and artifactId in (${artifactIds})
	</delete>
	
	<delete id="deleteByArtifactId" parameterType="Long">
		delete from artifact_tag
		where artifactId = #{artifactId}
	</delete>
	
	<select id="getByArtifactId" parameterType="Long" resultType="TagDTO">
		select t.* from artifact_tag a inner join tag t on a.tagId = t.id
		where a.artifactId = #{artifactId} 
	</select>
</mapper>