<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orgCoach">
	<resultMap id="CoachDTOResult" type="com.zhiqin.coach.admin.dto.CoachDTO">
		<id column="id" jdbcType="BIGINT" property="orgCoachId" />
		<result column="coachName" jdbcType="VARCHAR" property="coachName" />
		<result column="idType" jdbcType="INTEGER" property="idType" />
		<result column="idNumber" jdbcType="VARCHAR" property="idNumber" />
		<result column="coachId" jdbcType="BIGINT" property="coachId" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	
	<select id="getCoachByOrgId" parameterType="Long" resultMap="CoachDTOResult" >
		select g.id, g.coachId, g.coachName, g.createTime, g.idType, g.idNumber, g.status
		from organization_coach g where g.status != -1 and g.organizationId = #{orgId}
		limit ${p.pageNum - 1}, ${p.numPerPage}
	</select>

	<select id="getOrgCoachByIdNumberAndType" parameterType="CoachDTO" resultType="Long" >
		select g.id
		from organization_coach g
		where g.organizationId = #{orgId} and g.idType = #{idType} and g.idNumber = #{idNumber} and g.status != -1
	</select>
	
	
	<select id="getOrgCoachById" parameterType="Long" resultMap="CoachDTOResult">
		select g.id, g.coachName, g.coachId, g.idType, g.idNumber, g.status
		from organization_coach g
		where g.id = #{orgCoachId}
	</select>
	
	<insert id="createCoach" parameterType="CoachDTO">
		insert into organization_coach (organizationId, coachName, idType, idNumber, createTime, updateTime, status)
		value (#{orgId}, #{coachName}, #{idType}, #{idNumber}, now(), now(), 0)
	</insert>
	
	<update id="updateCoach" parameterType="CoachDTO">
		update organization_coach set coachName = #{coachName}, idType = #{idType}, idNumber = #{idNumber}, updateTime = now()
		where id = #{orgCoachId}
	</update>

</mapper>