<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="task">
	<resultMap id="TaskDTOResult" type="com.zhiqin.coach.admin.dto.TaskDTO">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="sourceFrom" jdbcType="INTEGER" property="sourceFrom" />
		<result column="downloadedNum" jdbcType="INTEGER" property="downloadedNum" />
		<result column="totalNum" jdbcType="INTEGER" property="totalNum" />
		<result column="importedNum" jdbcType="INTEGER" property="importedNum" />
	</resultMap>
	
	<resultMap id="DownloadTaskDTOResult" type="com.zhiqin.coach.admin.dto.DownloadTaskDTO">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="fileUrl" jdbcType="VARCHAR" property="fileUrl" />
		<result column="imageUrl" jdbcType="VARCHAR" property="imageUrl" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="startTime" jdbcType="TIMESTAMP" property="startTime" />
		<result column="endTime" jdbcType="TIMESTAMP" property="endTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="size" jdbcType="INTEGER" property="size" />
		<result column="duration" jdbcType="INTEGER" property="duration" />
	</resultMap>
	
	<select id="getTotalNum" parameterType="Map" resultType="Long">
		select count(*) from task where status != 1 and url like '%${keyword}%'
	</select>

	<select id="getTaskList" parameterType="Map" resultMap="TaskDTOResult" >
		select *, 
		(select count(1) from download_task d where d.taskId = t.id and d.status in (2,3)) downloadedNum, 
		(select count(1) from download_task d where d.taskId = t.id)totalNum,
		(select count(1) from download_task d where d.taskId = t.id and d.status = 2) importedNum 
		from task t 
		where t.status != 1 and url like '%${keyword}%'
		order by t.createTime desc
		limit ${(p.pageNum - 1) * p.numPerPage}, ${p.numPerPage}
	</select>
	
	<select id="getDownloadTaskTotalNum" parameterType="Integer" resultType="Long">
		select count(*) from download_task where taskId = #{taskId}
	</select>

	<select id="getDownloadTaskList" parameterType="Map" resultMap="DownloadTaskDTOResult" >
		select * from download_task where taskId = #{taskId} order by id
		limit ${(p.pageNum - 1) * p.numPerPage}, ${p.numPerPage}
	</select>
	
	<select id="getDownloadingTaskNum" parameterType="Map" resultType="Long" >
		select ifnull(count(d.id), 0) from download_task d inner join task t on d.taskId = t.id and t.status != 1
		where d.status = #{status}
	</select>
	
	<select id="getArtifactByTaskId" parameterType="Long" resultType="ArtifactDTO" >
		select a.id, a.downloadTaskId, a.title from artifact a inner join download_task d on a.downloadTaskId = d.id and a.status = 3
		inner join task t on d.taskId = t.id and d.status = 3
		where t.id = #{taskId}
	</select>
	
	<select id="getArtifactByTaskIds" parameterType="String" resultType="ArtifactDTO" >
		select a.id, a.downloadTaskId, a.title from artifact a inner join download_task d on a.downloadTaskId = d.id and a.status = 3
		inner join task t on d.taskId = t.id and d.status = 3
		where t.id in (#{taskIds})
	</select>
	
	<select id="getArtifactByDownloadTaskId" parameterType="Long" resultType="ArtifactDTO" >
		select a.id, a.downloadTaskId, a.titile from artifact a inner join download_task d on a.downloadTaskId = d.id and a.status = 3
		where d.id = #{downloadTaskId}
	</select>
	
	<select id="getArtifactByDownloadTaskIdList" parameterType="Map" resultType="ArtifactDTO" >
		select a.id, a.downloadTaskId, a.title from artifact a inner join download_task d on a.downloadTaskId = d.id and a.status = 3
		where d.id in <foreach collection="downloadTaskIdList" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
	</select>
	
	<select id="getDownloadTask" parameterType="Map" resultMap="DownloadTaskDTOResult" >
		select d.* from download_task d inner join task t on d.taskId = t.id and t.status != 1
		where d.status = #{status} order by d.id limit #{maxNum}
	</select>
	
	<select id="getById" parameterType="Integer" resultMap="TaskDTOResult" >
		select * from task where id = #{taskId}
	</select>
	
	<select id="checkExisting" parameterType="String" resultType="Long" >
		select id from task where url = #{url} and status = 0 limit 1
	</select>
	
	<update id="updateStatus" parameterType="Map">
		update task set status = #{status} where id = #{taskId}
	</update>
	
	
	<update id="updateDownloadTaskStatus" parameterType="Map">
		update download_task set status = #{status} where id in 
		<foreach collection="downloadIdList" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
	</update>
	
	
	<update id="deleteByIds" parameterType="Map">
		update task set status = 1 where id in (${ids})
	</update>
	
	<update id="updateDownloadStatus" parameterType="Map">
		update download_task set status = #{status}
		<if test="fileName != null and fileName != '' ">
			, fileName = #{fileName}
		</if>
		where id = #{downloadTaskId}
	</update>
	
	<insert id="insertTask" useGeneratedKeys="true" keyProperty="id" parameterType="TaskDTO">
		INSERT INTO task(url,createTime,status,sourceFrom) 
		VALUE (#{url}, now(), #{status}, #{sourceFrom}) 
  	</insert>
  	
  	<insert id="insertDownloadTask" useGeneratedKeys="true" keyProperty="id" parameterType="DownloadTaskDTO">
		INSERT INTO download_task(taskId, fileUrl, status, startTime, endTime, imageUrl, title, subtitle, 
		fileName, type, size, duration, createTime)
		value(#{taskId}, #{fileUrl}, #{status}, #{startTime}, #{endTime}, #{imageUrl}, #{title}, #{subtitle}, 
		#{fileName}, #{type}, #{size}, #{duration}, now())
  	</insert>
  	
  	<update id="redownloadAll" parameterType="Map">
		update download_task set status = #{status} where taskId = #{taskId} and status = 4
	</update>
</mapper>