<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.zhiqin.coach.admin.entity.User" alias="User" />
		<typeAlias type="com.zhiqin.coach.admin.entity.Resources" alias="Resources"/>
		<typeAlias type="com.zhiqin.coach.admin.entity.Roles" alias="Roles"/>
		<typeAlias type="com.zhiqin.coach.admin.entity.ResourceRoles" alias="ResourceRoles"/>
		<typeAlias type="com.zhiqin.coach.admin.entity.UserRoles" alias="UserRoles"/>
		
		
		<typeAlias type="com.zhiqin.coach.admin.dto.SearchCoachDTO" alias="SearchCoachDTO"/>
		<typeAlias type="com.zhiqin.coach.admin.dto.SearchCourseDTO" alias="SearchCourseDTO"/>
		<typeAlias type="com.zhiqin.coach.admin.dto.SearchOrgDTO" alias="SearchOrgDTO"/>
		<typeAlias type="com.zhiqin.coach.admin.dto.OrgDTO" alias="OrgDTO"/>
		<typeAlias type="com.zhiqin.coach.admin.dto.CoachDTO" alias="CoachDTO"/>
		<typeAlias type="com.zhiqin.coach.admin.dto.CourseDTO" alias="CourseDTO"/>
		<typeAlias type="com.zhiqin.coach.admin.dto.LessonDTO" alias="LessonDTO"/>
		
		<typeAlias type="com.zhiqin.coach.admin.dto.TaskDTO" alias="TaskDTO"/>
		<typeAlias type="com.zhiqin.coach.admin.dto.DownloadTaskDTO" alias="DownloadTaskDTO"/>
	</typeAliases>
</configuration>