/**  @Description:  hello-coach bsas sass @author: guwei  @Update: 14/12/5 */

/* line 25, ../../app/styles/base/_reset.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 32, ../../app/styles/base/_reset.scss */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 42, ../../app/styles/base/_reset.scss */

audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 49, ../../app/styles/base/_reset.scss */

[hidden],
template {
  display: none;
}

/* line 61, ../../app/styles/base/_reset.scss */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 74, ../../app/styles/base/_reset.scss */

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 79, ../../app/styles/base/_reset.scss */

body {
  margin: 0;
}

/* line 86, ../../app/styles/base/_reset.scss */

a {
  background: transparent;
}

/* line 91, ../../app/styles/base/_reset.scss */

a:hover,
a:active {
  outline: 0;
}

/* line 97, ../../app/styles/base/_reset.scss */

abbr[title] {
  border-bottom: 1px dotted;
}

/* line 103, ../../app/styles/base/_reset.scss */

b,
strong {
  font-weight: bold;
}

/* line 108, ../../app/styles/base/_reset.scss */

blockquote {
  margin: 1em 40px;
}

/* line 114, ../../app/styles/base/_reset.scss */

dfn {
  font-style: italic;
}

/* line 119, ../../app/styles/base/_reset.scss */

mark {
  background: #ff0;
  color: #000;
}

/* line 129, ../../app/styles/base/_reset.scss */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 138, ../../app/styles/base/_reset.scss */

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 145, ../../app/styles/base/_reset.scss */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 154, ../../app/styles/base/_reset.scss */

q {
  quotes: none;
}

/* line 160, ../../app/styles/base/_reset.scss */

q:before,
q:after {
  content: '';
  content: none;
}

/* line 166, ../../app/styles/base/_reset.scss */

small {
  font-size: 80%;
}

/* line 173, ../../app/styles/base/_reset.scss */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 179, ../../app/styles/base/_reset.scss */

sup {
  top: -0.5em;
}

/* line 182, ../../app/styles/base/_reset.scss */

sub {
  bottom: -0.25em;
}

/* line 192, ../../app/styles/base/_reset.scss */

dl,
ol,
ul {
  margin: 1em 0;
}

/* line 195, ../../app/styles/base/_reset.scss */

dd {
  margin: 0 0 0 40px;
}

/* line 200, ../../app/styles/base/_reset.scss */

ol,
ul {
  padding: 0 0 0 40px;
}

/* line 206, ../../app/styles/base/_reset.scss */

nav ul,
nav ol {
  list-style-image: none;
}

/* line 218, ../../app/styles/base/_reset.scss */

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 225, ../../app/styles/base/_reset.scss */

svg:not(:root) {
  overflow: hidden;
}

/* line 230, ../../app/styles/base/_reset.scss */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 240, ../../app/styles/base/_reset.scss */

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 256, ../../app/styles/base/_reset.scss */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 268, ../../app/styles/base/_reset.scss */

button,
input {
  line-height: normal;
}

/* line 277, ../../app/styles/base/_reset.scss */

button,
select {
  text-transform: none;
}

/* line 291, ../../app/styles/base/_reset.scss */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 303, ../../app/styles/base/_reset.scss */

button[disabled],
input[disabled],
button[disabled]:hover,
input[disabled]:hover {
  cursor: default;
  background-color: #cccccc;
}

/* line 313, ../../app/styles/base/_reset.scss */

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 324, ../../app/styles/base/_reset.scss */

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 334, ../../app/styles/base/_reset.scss */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 342, ../../app/styles/base/_reset.scss */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 349, ../../app/styles/base/_reset.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 353, ../../app/styles/base/_reset.scss */

button:focus,
input:focus {
  outline: 0 none;
}

/* line 360, ../../app/styles/base/_reset.scss */

textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 367, ../../app/styles/base/_reset.scss */

optgroup {
  font-weight: bold;
}

/* line 372, ../../app/styles/base/_reset.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 380, ../../app/styles/base/_reset.scss */

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 386, ../../app/styles/base/_reset.scss */

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: white;
}

/* line 396, ../../app/styles/base/_reset.scss */

body,
button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

/* line 399, ../../app/styles/base/_reset.scss */

img {
  vertical-align: middle;
}

/* line 402, ../../app/styles/base/_reset.scss */

textarea {
  resize: vertical;
}

/* line 405, ../../app/styles/base/_reset.scss */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form {
  margin: 0;
}

/* line 409, ../../app/styles/base/_reset.scss */

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* line 413, ../../app/styles/base/_reset.scss */

ul,
ol {
  list-style: none outside none;
}

/* line 418, ../../app/styles/base/_reset.scss */

h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}

/* line 422, ../../app/styles/base/_reset.scss */

h1 {
  font-size: 21px;
}

/* line 425, ../../app/styles/base/_reset.scss */

h2 {
  font-size: 18.2px;
}

/* line 428, ../../app/styles/base/_reset.scss */

h3 {
  font-size: 16.38px;
}

/* line 431, ../../app/styles/base/_reset.scss */

h4 {
  font-size: 14px;
}

/* line 434, ../../app/styles/base/_reset.scss */

h5,
h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

/* line 440, ../../app/styles/base/_reset.scss */

a {
  text-decoration: none;
  color: #00b8ee;
}

/* line 449, ../../app/styles/base/_reset.scss */

a:hover {
  color: #0091bb;
}

/* line 460, ../../app/styles/base/_reset.scss */

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
}

/* line 465, ../../app/styles/base/_reset.scss */

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}

/* line 470, ../../app/styles/base/_reset.scss */

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}

/* line 475, ../../app/styles/base/_reset.scss */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 22, ../../app/styles/helpers/_mixin.scss */

ul.inline-block li,
.left-triangle,
.right-triangle,
.login-name,
.login-phone,
.login-pass-word,
.login-username,
.icon-about-address,
.icon-about-phone,
.icon-about-site,
.icon-add,
.top-bar .btn,
.main-content .attendance-tit span,
.main-content .member-panel .batch-select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 35, ../../app/styles/helpers/_mixin.scss */

.login-wrap,
.login-content,
.top-bar .container,
.about-content,
.footer .inner,
.main-content {
  margin-left: auto;
  margin-right: auto;
}

/* line 46, ../../app/styles/helpers/_mixin.scss */

.fl,
.about-content .word,
.about-content .lsit li i,
.main-content .left-content,
.main-content .center-content,
.main-content .right-content,
.general-login .text-label,
.general-login .input-text,
.main-content .btn-grey,
.main-content .btn-red,
.main-content .hd-panel,
.main-content .class-list span,
.main-content .member-list .one-member,
.main-content .member-list .member-name,
.main-content .member-list .member-phone,
.main-content .member-list .select-wrap,
.main-content .attendance-list .time,
.main-content .attendance-list .place,
.main-content .attendance-list .address,
.dialog-form-list input,
.dialog-form-list .order-id,
.dialog-member-list .order-id,
.dialog-member-list .name,
.dialog-member-list .phone {
  float: left;
  display: inline;
}

/* line 49, ../../app/styles/helpers/_mixin.scss */

.top-bar .user-info,
.about-content .r-pic,
.main-content .hd em,
.main-content .class-list em,
.main-content .attendance-list b,
.main-content .right-btn-groups,
.main-content .right-btn-group {
  float: right;
  display: inline;
}

/* line 68, ../../app/styles/helpers/_mixin.scss */

ul.inline-float,
.clearfix,
.about-content .entry,
.about-content .lsit li,
.main-content,
.main-content .inner,
.general-login .field,
.main-content .hd,
.dialog-form-list,
.dialog-form-list li,
.ui-dialog-footer {
  *zoom: 1;
}

/* line 60, ../../app/styles/helpers/_mixin.scss */

ul.inline-float:before,
.clearfix:before,
.about-content .entry:before,
.about-content .lsit li:before,
.main-content:before,
.main-content .inner:before,
.general-login .field:before,
.main-content .hd:before,
.dialog-form-list:before,
.dialog-form-list li:before,
.ui-dialog-footer:before,
ul.inline-float:after,
.clearfix:after,
.about-content .entry:after,
.about-content .lsit li:after,
.main-content:after,
.main-content .inner:after,
.general-login .field:after,
.main-content .hd:after,
.dialog-form-list:after,
.dialog-form-list li:after,
.ui-dialog-footer:after {
  content: "";
  display: table;
}

/* line 64, ../../app/styles/helpers/_mixin.scss */

ul.inline-float:after,
.clearfix:after,
.about-content .entry:after,
.about-content .lsit li:after,
.main-content:after,
.main-content .inner:after,
.general-login .field:after,
.main-content .hd:after,
.dialog-form-list:after,
.dialog-form-list li:after,
.ui-dialog-footer:after {
  clear: both;
}

/* line 78, ../../app/styles/helpers/_mixin.scss */

.hidden,
.general-login .hidden-span {
  display: none !important;
  visibility: hidden;
}

/* line 91, ../../app/styles/helpers/_mixin.scss */

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 100, ../../app/styles/helpers/_mixin.scss */

ul.has-style {
  margin-left: 25px;
  list-style: disc;
}

/* line 120, ../../app/styles/helpers/_mixin.scss */

.ir {
  font: 0/0 a;
  text-shadow: none;
  border: 0 none;
  color: transparent;
  _overflow: hidden;
  _font-size: 10px;
  _line-height: 99;
}

/* line 13, ../../app/styles/helpers/_helper.scss */

ul.inline-float li {
  float: left;
  display: inline;
}

/* line 19, ../../app/styles/helpers/_helper.scss */

ul.inline-block li {
  margin-right: 8px;
}

/* line 22, ../../app/styles/helpers/_helper.scss */

ul.inline-block li:last-child {
  margin-right: 0;
}

/* line 32, ../../app/styles/helpers/_helper.scss */

.fr {
  float: right;
  display: inline;
}

/* line 48, ../../app/styles/helpers/_helper.scss */

.tar {
  text-align: right;
}

/* line 51, ../../app/styles/helpers/_helper.scss */

.tac {
  text-align: center;
}

/* line 61, ../../app/styles/helpers/_helper.scss */

.gray {
  color: #cccccc;
}

/**  @Description:  _img-spirit @author: guwei  @Update: 14/12/8 */

/* line 114, icon/*.png */

.icon-sprite,
.left-triangle,
.right-triangle,
.login-name,
.login-phone,
.login-pass-word,
.login-username,
.icon-about-address,
.icon-about-phone,
.icon-about-site,
.icon-add {
  background: url('images/generated/icon-s373f40abc6.png') no-repeat;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.left-triangle {
  background-position: -20px -109px;
  height: 46px;
  width: 10px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.right-triangle {
  background-position: -17px -181px;
  height: 46px;
  width: 10px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.login-name {
  background-position: 0 -85px;
  height: 24px;
  width: 25px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.login-phone {
  background-position: 0 -181px;
  height: 33px;
  width: 17px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.login-pass-word {
  background-position: 0 -109px;
  height: 24px;
  width: 20px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.login-username {
  background-position: 0 0;
  height: 18px;
  width: 30px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.icon-about-address {
  background-position: 0 -61px;
  height: 24px;
  width: 26px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.icon-about-phone {
  background-position: 0 -18px;
  height: 21px;
  width: 26px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.icon-about-site {
  background-position: 0 -39px;
  height: 22px;
  width: 26px;
}

/* line 14, ../../app/styles/components/_img-spirit.scss */

.icon-add {
  background-position: 0 -155px;
  height: 26px;
  width: 26px;
}

/**  @Description:  layout @author: guwei  @Update: 14/12/5 */

/* line 7, ../../app/styles/components/_layout.scss */

.ft-opacity,
.left-opacity,
.right-login-opacity,
.right-register-opacity {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 0.45;
}

/* line 12, ../../app/styles/components/_layout.scss */

.qr-code-login,
.left-opacity {
  position: absolute;
  top: 174px;
  left: 0;
  width: 444px;
  height: 470px;
}

/* line 19, ../../app/styles/components/_layout.scss */

.right-login-opacity,
.right-register-opacity,
.general-login,
.general-register {
  position: absolute;
  top: 174px;
  right: 0;
}

/* line 24, ../../app/styles/components/_layout.scss */

.login-wrap {
  width: 1200px;
}

/* line 28, ../../app/styles/components/_layout.scss */

.login-page {
  position: relative;
}

/* line 31, ../../app/styles/components/_layout.scss */

.login-bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

/* line 50, ../../app/styles/components/_layout.scss */

.login-content {
  position: relative;
  width: 1200px;
  z-index: 2;
}

/* line 59, ../../app/styles/components/_layout.scss */

.ft-opacity {
  position: absolute;
  left: 0;
  top: 1000px;
  width: 1200px;
  height: 40px;
}

/* line 67, ../../app/styles/components/_layout.scss */

.login-ft {
  position: absolute;
  left: 0;
  top: 1000px;
  width: 1200px;
  height: 40px;
  line-height: 40px;
}

/* line 74, ../../app/styles/components/_layout.scss */

.login-ft a {
  color: #333;
  margin: 0 25px;
}

/* line 83, ../../app/styles/components/_layout.scss */

.right-login-opacity {
  width: 450px;
  height: 470px;
}

/* line 89, ../../app/styles/components/_layout.scss */

.right-register-opacity {
  top: 174px;
  width: 450px;
  height: 600px;
}

/* line 96, ../../app/styles/components/_layout.scss */

.general-login {
  width: 450px;
  height: 470px;
}

/* line 101, ../../app/styles/components/_layout.scss */

.general-register {
  top: 173px;
  width: 450px;
  height: 600px;
}

/* line 108, ../../app/styles/components/_layout.scss */

.top-bar {
  width: 100%;
  height: 129px;
  font-size: 16px;
  color: #fff;
  background: url("../images/top-bar-bg.jpg") 50% 0 no-repeat;
}

/* line 114, ../../app/styles/components/_layout.scss */

.top-bar .container {
  width: 1200px;
}

/* line 118, ../../app/styles/components/_layout.scss */

.top-bar .user-info {
  margin: 38px 0 0;
  width: 350px;
  text-align: right;
}

/* line 124, ../../app/styles/components/_layout.scss */

.top-bar strong {
  vertical-align: bottom;
}

/* line 127, ../../app/styles/components/_layout.scss */

.top-bar .btn {
  height: 40px;
  width: 100px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #ff3b30;
}

/* line 139, ../../app/styles/components/_layout.scss */

.main-page {
  background-color: #f8f3f0;
}

/* line 142, ../../app/styles/components/_layout.scss */

.about-content {
  width: 1200px;
}

/* line 144, ../../app/styles/components/_layout.scss */

.about-content h2 {
  margin: 50px 0;
  font-size: 30px;
  color: #00b8ee;
}

/* line 150, ../../app/styles/components/_layout.scss */

.about-content .entry {
  margin: 0 0 60px;
}

/* line 153, ../../app/styles/components/_layout.scss */

.about-content .entry p {
  line-height: 24px;
  margin: 0 0 10px;
}

/* line 158, ../../app/styles/components/_layout.scss */

.about-content .word {
  width: 844px;
}

/* line 162, ../../app/styles/components/_layout.scss */

.about-content .r-pic {
  width: 294px;
}

/* line 166, ../../app/styles/components/_layout.scss */

.about-content .call-center {
  margin: 0 0 80px 140px;
}

/* line 169, ../../app/styles/components/_layout.scss */

.about-content .list-tit {
  margin: 0 0 20px;
  font-size: 20px;
  color: #00b8ee;
}

/* line 174, ../../app/styles/components/_layout.scss */

.about-content .pic-box {
  padding: 4px;
  margin: 20px 0;
  background-color: #fff;
}

/* line 180, ../../app/styles/components/_layout.scss */

.about-content .lsit li {
  margin: 0 0 16px;
}

/* line 183, ../../app/styles/components/_layout.scss */

.about-content .lsit li i {
  margin: 0 30px 0 0;
}

/* line 190, ../../app/styles/components/_layout.scss */

.footer {
  background-color: #00b8ee;
  height: 40px;
}

/* line 193, ../../app/styles/components/_layout.scss */

.footer .inner {
  width: 1200px;
}

/* line 197, ../../app/styles/components/_layout.scss */

.footer a {
  margin: 0 8px 0 0;
  color: #fff;
  line-height: 40px;
}

/* line 204, ../../app/styles/components/_layout.scss */

.main-content {
  width: 1200px;
}

/* line 208, ../../app/styles/components/_layout.scss */

.main-content .inner {
  margin: 60px 0 90px;
}

/* line 212, ../../app/styles/components/_layout.scss */

.main-content .left-content {
  width: 280px;
  margin: 0 20px 0 0;
}

/* line 217, ../../app/styles/components/_layout.scss */

.main-content .center-content {
  width: 440px;
  margin: 0 20px 0 0;
}

/* line 222, ../../app/styles/components/_layout.scss */

.main-content .right-content {
  width: 440px;
}

/**  @Description:  _login @author: guwei  @Update: 14/12/8 */

/* line 7, ../../app/styles/components/_login.scss */

.qr-code-login .pic-box {
  margin: 50px auto 12px;
  width: 300px;
  height: 300px;
}

/* line 11, ../../app/styles/components/_login.scss */

.qr-code-login .pic-box img {
  display: block;
  height: 300px;
  width: 300px;
  line-height: 300px;
  text-align: center;
}

/* line 19, ../../app/styles/components/_login.scss */

.qr-code-login p {
  text-align: center;
  font-size: 14px;
}

/* line 25, ../../app/styles/components/_login.scss */

.general-login .hd {
  position: relative;
  top: -46px;
  left: 162px;
  width: 176px;
  height: 144px;
}

/* line 32, ../../app/styles/components/_login.scss */

.general-login p {
  margin: 16px 0;
  font-size: 18px;
  text-align: center;
}

/* line 37, ../../app/styles/components/_login.scss */

.general-login .pic {
  width: 176px;
  height: 126px;
  text-align: center;
  line-height: 126px;
  background-color: #fff;
}

/* line 44, ../../app/styles/components/_login.scss */

.general-login .left-triangle {
  position: absolute;
  top: 0;
  left: -10px;
}

/* line 49, ../../app/styles/components/_login.scss */

.general-login .right-triangle {
  position: absolute;
  top: 0;
  left: 176px;
}

/* line 54, ../../app/styles/components/_login.scss */

.general-login .other {
  margin: 0 46px 0 0;
  text-align: right;
}

/* line 57, ../../app/styles/components/_login.scss */

.general-login .other a {
  color: #333;
  font-weight: 700;
}

/* line 62, ../../app/styles/components/_login.scss */

.general-login .field {
  margin: 0 0 20px 40px;
}

/* line 66, ../../app/styles/components/_login.scss */

.general-login .field-username {
  margin: 0 0 30px 40px;
}

/* line 69, ../../app/styles/components/_login.scss */

.general-login .login-primary-btn {
  height: 50px;
  width: 364px;
  border: 0;
  background-color: #00b8ee;
  color: white;
  font-size: 18px;
}

/* line 77, ../../app/styles/components/_login.scss */

.general-login .checkbox {
  margin: 0 5px 0 0;
}

/* line 80, ../../app/styles/components/_login.scss */

.general-login .user-conditions {
  margin: 0 5px;
  color: #009cca;
  text-decoration: underline;
}

/* line 85, ../../app/styles/components/_login.scss */

.general-login .text-label {
  width: 50px;
  height: 50px;
  background-color: #00b8ee;
}

/* line 91, ../../app/styles/components/_login.scss */

.general-login .login-name {
  margin: 12px 0 0 12px;
}

/* line 94, ../../app/styles/components/_login.scss */

.general-login .login-pass-word {
  margin: 12px 0 0 12px;
}

/* line 97, ../../app/styles/components/_login.scss */

.general-login .login-phone {
  margin: 8px 0 0 16px;
}

/* line 100, ../../app/styles/components/_login.scss */

.general-login .login-username {
  margin: 14px 0 0 10px;
}

/* line 106, ../../app/styles/components/_login.scss */

.general-login .input-text {
  padding: 9px 6px;
  height: 30px;
  border: 1px solid #00b8ee;
  width: 300px;
}

/**  @Description:  _main-content @author: guwei  @Update: 14/12/8 */

/* line 6, ../../app/styles/components/_main-content.scss */

.main-content .btn-grey,
.main-content .btn-red {
  width: 76px;
  color: #fff;
  text-align: center;
}

/* line 13, ../../app/styles/components/_main-content.scss */

.main-content .hd {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background-color: #00b8ee;
}

/* line 20, ../../app/styles/components/_main-content.scss */

.main-content .hd span {
  margin: 0 20px;
}

/* line 23, ../../app/styles/components/_main-content.scss */

.main-content .hd em {
  margin: 0 34px;
  font-style: normal;
}

/* line 29, ../../app/styles/components/_main-content.scss */

.main-content .hd-close {
  background-color: #ccc;
}

/* line 34, ../../app/styles/components/_main-content.scss */

.main-content .hd-panel input {
  padding: 0 8px;
}

/* line 38, ../../app/styles/components/_main-content.scss */

.main-content .btn-grey {
  background-color: #666;
}

/* line 42, ../../app/styles/components/_main-content.scss */

.main-content .btn-red {
  background-color: #ff3b30;
}

/* line 46, ../../app/styles/components/_main-content.scss */

.main-content .class-list {
  margin: 0 0 20px 0;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  overflow: hidden;
}

/* line 51, ../../app/styles/components/_main-content.scss */

.main-content .class-list li {
  margin: -1px 0 0;
  height: 48px;
  border-top: 1px solid #e6e6e6;
  line-height: 48px;
}

/* line 57, ../../app/styles/components/_main-content.scss */

.main-content .class-list span {
  margin: 0 20px;
}

/* line 61, ../../app/styles/components/_main-content.scss */

.main-content .class-list em {
  margin: 0 20px;
}

/* line 66, ../../app/styles/components/_main-content.scss */

.main-content .member-list {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  overflow: hidden;
}

/* line 70, ../../app/styles/components/_main-content.scss */

.main-content .member-list li {
  margin: -1px 0 0;
  height: 48px;
  border-top: 1px solid #e6e6e6;
  line-height: 48px;
  overflow: hidden;
}

/* line 77, ../../app/styles/components/_main-content.scss */

.main-content .member-list .one-member {
  margin: 18px 8px 0 15px;
}

/* line 81, ../../app/styles/components/_main-content.scss */

.main-content .member-list .member-name {
  width: 94px;
  overflow: hidden;
}

/* line 86, ../../app/styles/components/_main-content.scss */

.main-content .member-list .member-phone {
  width: 110px;
  margin: 0 15px 0 0;
  overflow: hidden;
}

/* line 94, ../../app/styles/components/_main-content.scss */

.main-content .member-list .select-wrap select {
  width: 150px;
  visibility: hidden;
}

/* line 100, ../../app/styles/components/_main-content.scss */

.main-content .attendance-box {
  background-color: #fff;
}

/* line 103, ../../app/styles/components/_main-content.scss */

.main-content .attendance-tit {
  height: 48px;
}

/* line 105, ../../app/styles/components/_main-content.scss */

.main-content .attendance-tit span {
  margin: 18px 0 0 36px;
  font-size: 16px;
  color: #999;
}

/* line 113, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list li {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

/* line 118, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list .time {
  margin: 0 10px 0 20px;
  width: 120px;
  overflow: hidden;
}

/* line 124, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list .place {
  margin: 0 10px 0 0;
  width: 96px;
  overflow: hidden;
}

/* line 130, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list .address {
  margin: 0 10px 0 0;
  width: 146px;
  overflow: hidden;
}

/* line 136, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list .odd {
  background-color: #d9f4fc;
}

/* line 139, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list b {
  width: 24px;
  padding: 4px 0;
  height: 32px;
  line-height: 16px;
  text-align: center;
  color: #fff;
}

/* line 148, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list .tag-on {
  background-color: #00b8ee;
}

/* line 151, ../../app/styles/components/_main-content.scss */

.main-content .attendance-list .tag-off {
  background-color: #ff3b30;
}

/* line 155, ../../app/styles/components/_main-content.scss */

.main-content .member-panel {
  height: 50px;
  line-height: 50px;
  background-color: #ccc;
}

/* line 159, ../../app/styles/components/_main-content.scss */

.main-content .member-panel label {
  margin: 0 10px;
}

/* line 162, ../../app/styles/components/_main-content.scss */

.main-content .member-panel .batch-select {
  margin: 0 10px 0 124px;
  width: 150px;
}

/* line 166, ../../app/styles/components/_main-content.scss */

.main-content .member-panel .batch-select select {
  width: 150px;
  visibility: hidden;
}

/* line 173, ../../app/styles/components/_main-content.scss */

.main-content .right-btn-groups {
  width: 152px;
}

/* line 177, ../../app/styles/components/_main-content.scss */

.main-content .right-btn-group {
  width: 76px;
}

/* line 185, ../../app/styles/components/_main-content.scss */

.main-content .box-B .hd-panel {
  width: 288px;
}

/* line 189, ../../app/styles/components/_main-content.scss */

.main-content .box-B .text-input input {
  margin: 0 0 0 10px;
  width: 244px;
  height: 30px;
  line-height: 30px;
}

/* line 198, ../../app/styles/components/_main-content.scss */

.main-content .box-C .hd-panel {
  width: 286px;
}

/* line 201, ../../app/styles/components/_main-content.scss */

.main-content .box-C .input-member-name {
  width: 102px;
}

/* line 204, ../../app/styles/components/_main-content.scss */

.main-content .box-C .input-member-phone {
  width: 110px;
}

/* line 208, ../../app/styles/components/_main-content.scss */

.main-content .box-C .text-input input {
  margin: 0 0 0 10px;
  height: 30px;
  line-height: 30px;
}

/* line 216, ../../app/styles/components/_main-content.scss */

.add-item {
  margin: 20px 0;
  height: 92px;
  border: 1px dashed #c2c2c2;
  background-color: #e6e1df;
  color: #999;
}

/* line 222, ../../app/styles/components/_main-content.scss */

.add-item .icon-add {
  display: block;
  margin: 14px auto;
}

/* line 226, ../../app/styles/components/_main-content.scss */

.add-item p {
  text-align: center;
}

/* line 230, ../../app/styles/components/_main-content.scss */

.dialog-member-tit {
  margin: 20px 0 10px 10px;
}

/* line 233, ../../app/styles/components/_main-content.scss */

.dialog-add-item {
  margin: 20px;
}

/* line 237, ../../app/styles/components/_main-content.scss */

.form-dialog .ui-dialog-autofocus {
  width: 380px;
}

/* line 241, ../../app/styles/components/_main-content.scss */

.dialog-form-list {
  padding: 20px 0 0;
  background-color: #d9f4fc;
}

/* line 245, ../../app/styles/components/_main-content.scss */

.dialog-form-list li {
  margin: 0 0 20px;
}

/* line 249, ../../app/styles/components/_main-content.scss */

.dialog-form-list input {
  height: 26px;
  width: 160px;
  margin: 0 20px 0 0;
  line-height: 26px;
}

/* line 256, ../../app/styles/components/_main-content.scss */

.dialog-form-list .order-id {
  margin: 0 0 0 20px;
  width: 22px;
  line-height: 26px;
  overflow: hidden;
}

/* line 264, ../../app/styles/components/_main-content.scss */

.dialog-member-list {
  margin: 0  0 10px;
}

/* line 266, ../../app/styles/components/_main-content.scss */

.dialog-member-list li {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

/* line 271, ../../app/styles/components/_main-content.scss */

.dialog-member-list .odd {
  background-color: #d9f4fc;
}

/* line 274, ../../app/styles/components/_main-content.scss */

.dialog-member-list .order-id {
  margin: 0 0 0 20px;
  width: 34px;
}

/* line 279, ../../app/styles/components/_main-content.scss */

.dialog-member-list .name {
  width: 146px;
}

/*!
 * ui-dialog.css
 * Date: 2014-07-03
 * https://github.com/aui/artDialog
 * (c) 2009-2014 TangBin, http://www.planeArt.cn
 *
 * This is licensed under the GNU LGPL, version 2.1 or later.
 * For details, see: http://www.gnu.org/licenses/lgpl-2.1.html
 */

/* line 10, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog {
  *zoom: 1;
  _float: left;
  position: relative;
  background-color: #FFF;
  border: 1px solid #999;
  outline: 0;
  background-clip: padding-box;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .15s ease-in-out, opacity .15s ease-in-out;
  transition: transform .15s ease-in-out, opacity .15s ease-in-out;
}

/* line 29, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-show .ui-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 34, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-focus .ui-dialog {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* line 37, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-modal .ui-dialog {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, 0.3);
}

/* line 40, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-grid {
  width: auto;
  margin: 0;
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  background: transparent;
}

/* line 50, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-header,
.ui-dialog-body,
.ui-dialog-footer {
  padding: 0;
  border: 0 none;
  text-align: left;
  background: transparent;
}

/* line 56, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-header {
  white-space: nowrap;
  border-bottom: 1px solid #E5E5E5;
  background-color: #00b8ee;
  color: #fff;
}

/* line 62, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-close {
  position: relative;
  _position: absolute;
  float: right;
  top: 13px;
  right: 13px;
  _height: 26px;
  padding: 0 4px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
  cursor: pointer;
  background: transparent;
  _background: #FFF;
  border: 0;
  -webkit-appearance: none;
}

/* line 84, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-close:hover,
.ui-dialog-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 92, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-title {
  margin: 0;
  line-height: 1.428571429;
  min-height: 16.428571429px;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  cursor: default;
}

/* line 103, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-body {
  text-align: center;
}

/* line 107, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  text-align: left;
}

/* line 115, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer {
  padding: 0 20px 20px 20px;
}

/* line 119, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-statusbar {
  float: left;
  margin-right: 20px;
  padding: 6px 0;
  line-height: 1.428571429;
  font-size: 14px;
  color: #888;
  white-space: nowrap;
}

/* line 128, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-statusbar label:hover {
  color: #333;
}

/* line 132, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-statusbar input,
.ui-dialog-statusbar .label {
  vertical-align: middle;
}

/* line 135, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-button {
  float: right;
  white-space: nowrap;
}

/* line 139, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button + button {
  margin-bottom: 0;
  margin-left: 5px;
}

/* line 143, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button {
  width: auto;
  overflow: visible;
  display: inline-block;
  padding: 6px 12px;
  _margin-left: 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 167, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 174, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button:hover,
.ui-dialog-footer button:focus {
  text-decoration: none;
}

/* line 179, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* line 185, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

/* line 194, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button {
  background-color: #999;
  width: 180px;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
}

/* line 211, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button:active {
  background-image: none;
}

/* line 218, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button[disabled],
.ui-dialog-footer button[disabled]:hover,
.ui-dialog-footer button[disabled]:focus,
.ui-dialog-footer button[disabled]:active {
  background-color: #ffffff;
  border-color: #cccccc;
}

/* line 223, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button.ui-dialog-autofocus {
  background-color: #00b8ee;
  border-color: #357ebd;
}

/* line 230, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button.ui-dialog-autofocus:hover,
.ui-dialog-footer button.ui-dialog-autofocus:focus,
.ui-dialog-footer button.ui-dialog-autofocus:active {
  color: #ffffff;
  background-color: #00b8ee;
  outline: none;
}

/* line 237, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-footer button.ui-dialog-autofocus:active {
  background-image: none;
}

/* line 242, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-top-left .ui-dialog,
.ui-popup-top .ui-dialog,
.ui-popup-top-right .ui-dialog {
  top: -8px;
}

/* line 247, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-bottom-left .ui-dialog,
.ui-popup-bottom .ui-dialog,
.ui-popup-bottom-right .ui-dialog {
  top: 8px;
}

/* line 252, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-left-top .ui-dialog,
.ui-popup-left .ui-dialog,
.ui-popup-left-bottom .ui-dialog {
  left: -8px;
}

/* line 257, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-right-top .ui-dialog,
.ui-popup-right .ui-dialog,
.ui-popup-right-bottom .ui-dialog {
  left: 8px;
}

/* line 262, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-arrow-a,
.ui-dialog-arrow-b {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  _color: #FF3FFF;
  _filter: chroma(color=#ff3fff);
  border: 8px dashed transparent;
}

/* line 273, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-follow .ui-dialog-arrow-a,
.ui-popup-follow .ui-dialog-arrow-b {
  display: block;
}

/* line 278, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-top-left .ui-dialog-arrow-a,
.ui-popup-top .ui-dialog-arrow-a,
.ui-popup-top-right .ui-dialog-arrow-a {
  bottom: -16px;
  border-top: 8px solid #7C7C7C;
}

/* line 284, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-top-left .ui-dialog-arrow-b,
.ui-popup-top .ui-dialog-arrow-b,
.ui-popup-top-right .ui-dialog-arrow-b {
  bottom: -15px;
  border-top: 8px solid #fff;
}

/* line 289, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-top-left .ui-dialog-arrow-a,
.ui-popup-top-left .ui-dialog-arrow-b {
  left: 15px;
}

/* line 293, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-top .ui-dialog-arrow-a,
.ui-popup-top .ui-dialog-arrow-b {
  left: 50%;
  margin-left: -8px;
}

/* line 298, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-top-right .ui-dialog-arrow-a,
.ui-popup-top-right .ui-dialog-arrow-b {
  right: 15px;
}

/* line 303, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-bottom-left .ui-dialog-arrow-a,
.ui-popup-bottom .ui-dialog-arrow-a,
.ui-popup-bottom-right .ui-dialog-arrow-a {
  top: -16px;
  border-bottom: 8px solid #7C7C7C;
}

/* line 309, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-bottom-left .ui-dialog-arrow-b,
.ui-popup-bottom .ui-dialog-arrow-b,
.ui-popup-bottom-right .ui-dialog-arrow-b {
  top: -15px;
  border-bottom: 8px solid #fff;
}

/* line 314, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-bottom-left .ui-dialog-arrow-a,
.ui-popup-bottom-left .ui-dialog-arrow-b {
  left: 15px;
}

/* line 318, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-bottom .ui-dialog-arrow-a,
.ui-popup-bottom .ui-dialog-arrow-b {
  margin-left: -8px;
  left: 50%;
}

/* line 323, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-bottom-right .ui-dialog-arrow-a,
.ui-popup-bottom-right .ui-dialog-arrow-b {
  right: 15px;
}

/* line 328, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-left-top .ui-dialog-arrow-a,
.ui-popup-left .ui-dialog-arrow-a,
.ui-popup-left-bottom .ui-dialog-arrow-a {
  right: -16px;
  border-left: 8px solid #7C7C7C;
}

/* line 334, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-left-top .ui-dialog-arrow-b,
.ui-popup-left .ui-dialog-arrow-b,
.ui-popup-left-bottom .ui-dialog-arrow-b {
  right: -15px;
  border-left: 8px solid #fff;
}

/* line 339, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-left-top .ui-dialog-arrow-a,
.ui-popup-left-top .ui-dialog-arrow-b {
  top: 15px;
}

/* line 343, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-left .ui-dialog-arrow-a,
.ui-popup-left .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%;
}

/* line 348, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-left-bottom .ui-dialog-arrow-a,
.ui-popup-left-bottom .ui-dialog-arrow-b {
  bottom: 15px;
}

/* line 353, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-right-top .ui-dialog-arrow-a,
.ui-popup-right .ui-dialog-arrow-a,
.ui-popup-right-bottom .ui-dialog-arrow-a {
  left: -16px;
  border-right: 8px solid #7C7C7C;
}

/* line 359, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-right-top .ui-dialog-arrow-b,
.ui-popup-right .ui-dialog-arrow-b,
.ui-popup-right-bottom .ui-dialog-arrow-b {
  left: -15px;
  border-right: 8px solid #fff;
}

/* line 364, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-right-top .ui-dialog-arrow-a,
.ui-popup-right-top .ui-dialog-arrow-b {
  top: 15px;
}

/* line 368, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-right .ui-dialog-arrow-a,
.ui-popup-right .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%;
}

/* line 373, ../../app/styles/components/_ui-dialog.scss */

.ui-popup-right-bottom .ui-dialog-arrow-a,
.ui-popup-right-bottom .ui-dialog-arrow-b {
  bottom: 15px;
}

@-webkit-keyframes ui-dialog-loading {
  /* line 379, ../../app/styles/components/_ui-dialog.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 382, ../../app/styles/components/_ui-dialog.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ui-dialog-loading {
  /* line 387, ../../app/styles/components/_ui-dialog.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 390, ../../app/styles/components/_ui-dialog.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 395, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-loading {
  vertical-align: middle;
  position: relative;
  display: block;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  width: 32px;
  height: 32px;
  top: 50%;
  margin: -16px auto 0 auto;
  font-size: 0;
  text-indent: -999em;
  color: #666;
}

/* line 410, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-loading {
  width: 100% \9;
  text-indent: 0\9;
  line-height: 32px\9;
  text-align: center\9;
  font-size: 12px\9;
}

/* line 418, ../../app/styles/components/_ui-dialog.scss */

.ui-dialog-loading::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  margin: 14.5px 0 0 14.5px;
  border-radius: 100%;
  box-shadow: 0 -10px 0 1px #ccc, 10px 0px #ccc, 0 10px #ccc, -10px 0 #ccc, -7px -7px 0 0.5px #ccc, 7px -7px 0 1.5px #ccc, 7px 7px #ccc, -7px 7px #ccc;
  -webkit-transform: rotate(360deg);
  -webkit-animation: ui-dialog-loading 1.5s infinite linear;
  transform: rotate(360deg);
  animation: ui-dialog-loading 1.5s infinite linear;
  display: none\9;
}

/*!
 * selectbox.css
 * Date: 2014-01-10
 * https://github.com/aui/popupjs
 * (c) 2009-2013 TangBin, http://www.planeArt.cn
 *
 * This is licensed under the GNU LGPL, version 2.1 or later.
 * For details, see: http://www.gnu.org/licenses/lgpl-2.1.html
 */

/* line 10, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 30px;
  line-height: 30px;
  position: relative;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDD;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #B7B7B7;
  *zoom: 1;
  *overflow: visible;
  outline: 0 none;
  background: #fff;
  transition: all linear 0.2s;
}

/* line 35, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-open {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#fafafa',GradientType=0 );
  background: linear-gradient(to bottom, #e5e5e5 100%, #fafafa 0%);
}

/* line 43, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox:hover {
  border: 1px solid #09E;
}

/* line 46, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 51, ../../app/styles/components/_ui-selectbox.scss */

select[disabled] + .ui-selectbox,
select[disabled] + .ui-selectbox:hover {
  color: #CCC;
  border: 1px solid #B7B7B7;
  cursor: default;
  box-shadow: none;
  opacity: .7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 59, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-inner {
  padding: 0 0 0 5px;
  margin-right: 15px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  *background: #fafafa;
  *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );
}

/* line 69, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox .ui-selectbox-icon {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -2px;
  border-top: 5px solid #A7A7A7;
  border-left: 5px dashed transparent;
  border-right: 5px dashed transparent;
  border-bottom: 0 none;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  _color: #FF3FFF;
  _filter: chroma(color=#ff3fff);
}

/* line 87, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-open .ui-selectbox-icon {
  margin-top: -3px;
  border-top: 0 none;
  border-bottom: 5px solid #A7A7A7;
}

/* line 92, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-focus {
  border: 1px solid #09E;
  outline: 0 none;
  /*box-shadow: 0 0 3px rgba(8, 74, 195, .5);*/
}

/* line 97, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  font-family: Helvetica, arial, sans-serif;
  background: #FFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: solid 1px #DCDCDC;
}

/* line 111, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  overflow: visible;
}

/* line 116, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 120, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar-track {
  background-clip: padding-box;
}

/* line 123, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05);
}

/* line 127, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

/* line 131, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.14);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 2px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 138, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.28);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 142, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

/* line 147, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-optgroup,
.ui-selectbox-option {
  margin: 0;
  padding: 8px 10px;
  white-space: nowrap;
  cursor: pointer;
  color: #333;
  background: transparent;
  outline: 0 none;
}

/* line 156, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-optgroup {
  cursor: default;
  color: #000;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

/* line 163, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-option:hover {
  background: #EEE;
}

/* line 166, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-option:focus {
  outline: 0 none;
}

/* line 170, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown .ui-selectbox-selected,
.ui-selectbox-dropdown .ui-selectbox-selected:hover {
  background: #3870F3;
  color: #FFF;
}

/* line 175, ../../app/styles/components/_ui-selectbox.scss */

.ui-selectbox-dropdown .ui-selectbox-disabled,
.ui-selectbox-dropdown .ui-selectbox-disabled:hover {
  color: #CCC;
  cursor: default;
  background: #FFF;
}

/* line 183, ../../app/styles/components/_ui-selectbox.scss */

.ui-popup-top .ui-selectbox-dropdown,
.ui-popup-top-left .ui-selectbox-dropdown,
.ui-popup-top-right .ui-selectbox-dropdown {
  top: -2px;
}

/* line 188, ../../app/styles/components/_ui-selectbox.scss */

.ui-popup-bottom .ui-selectbox-dropdown,
.ui-popup-bottom-left .ui-selectbox-dropdown,
.ui-popup-bottom-right .ui-selectbox-dropdown {
  top: 2px;
}