<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tag">
	<sql id = "getTagCondition">
		from tag where status != 2
		<if test="name != null and name != ''">
			and name like '%${name}%'
		</if>
	</sql>
	
	<select id="getTagTotalNum" parameterType="Map" resultType="Long">
		select count(*)
		<include refid="getTagCondition" />
	</select>

	<select id="getTagList" parameterType="Map" resultType="TagDTO" >
		select *
		<include refid="getTagCondition" />
		order by name asc
		limit ${(p.pageNum - 1) * p.numPerPage}, ${p.numPerPage}
	</select>
	
	<select id="getById" parameterType="Integer" resultType="TagDTO">
		select * from tag where id = #{tagId}
	</select>
	
	<select id="getTagIdByName" parameterType="String" resultType="Long">
		select id from tag where name = #{name}
	</select>
	
	<insert id="insertTag" useGeneratedKeys="true" keyProperty="id" parameterType="TagDTO">
		INSERT INTO tag(name) 
		VALUE (#{name}) 
  	</insert>
  	
  	<update id="deleteByIds" parameterType="Map">
		update tag set status = 2 where id in (${ids})
	</update>
  	
  	<update id="update" parameterType="TagDTO">
		update tag set status = #{status}, name = #{name}, tagOrder = #{tagOrder} where id = #{id}
	</update>
</mapper>