<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.zhijing.survey.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<description>Index Servlet</description>
		<display-name>Index Servlet</display-name>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.zhijing.survey.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Index Servlet</description>
		<display-name>Index Servlet</display-name>
		<servlet-name>SaveSurveyServlet</servlet-name>
		<servlet-class>com.zhijing.survey.SaveSurveyServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/servlet/index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SaveSurveyServlet</servlet-name>
		<url-pattern>/servlet/saveSurvey</url-pattern>
	</servlet-mapping>

</web-app>